<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="template :: head">
</head>
<body>
    <div class="container">
        <div id="top" th:include="template :: masthead"></div>
        <div id="middle">
            <p class="lead text-danger">
                Sorry!
            </p>
            <p class="text-danger">
                <span th:text="${message}">ERROR MESSAGE</span>
            </p>
            <a href="javascript:history.go(-1);">Back</a>
        </div>
        <div th:replace="template :: footer"></div>
    </div>
</body>
</html>