<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>

<body>

    <div class="container">

        <div id="top" th:include="template :: masthead"></div>

        <div id="middle">

            <form method="post" action="/login">
                <fieldset>
                    <div class="form-group">
                        <input autofocus="true" class="form-control" name="userName" placeholder="Username" type="text"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log In</button>
                    </div>
                </fieldset>
            </form>
            <div>
                or <a href="/register">register</a> for an account
            </div>
        </div>

        <div th:replace="template :: footer"></div>

    </div>

</body>

</html>