<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <table class="table table-striped">
            <tr>
                <th>Stock</th>
                <th>Shares Owned</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>

            <tr th:each="item : ${portfolio}">
                <td th:text="${item.name}">Symbol</td>
                <td th:text="${item.sharesOwned}">Shares Owned</td>
                <td th:text="${item.currentPrice}">Current Price</td>
                <td th:text="${item.value}">Value</td>
            </tr>

        </table>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>